// Base
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
.row {
    width: 80%;
    margin: 0 auto;
}
.bold {
    font-weight: 500;
}
.btn {
    text-decoration: none;
    color: #000;
    display: inline-block;
}
// Header
.header {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-image: linear-gradient(to bottom right, rgba(30, 30, 153, 0.527), rgba(9, 181, 194, 0.603)), url(img/background.jpeg);
    overflow: auto;

    // Navigation bar within header
    nav {
        width: 100%;
        padding-top: 15px;
        color: #fff;
        // Logo text
        .logo {
            font-weight: 300;
            color: #fff;
            font-size: 24px;
            display: inline-block;
        }
        // Logo div
        .logo-hold {
            display: inline;
        }
        .items-hold {
            float: right;
            margin-top: 7px;
            .nav-li {
                list-style: none;
                display: inline-block;
                margin-left: 30px;
            }
            .nav-a {
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                display: inline-block;
                text-decoration: none;
                transition: all .5s;
                &:hover {
                    padding-bottom: 4px;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    // Div for heading
    .hero-box {
        margin-top: 10%;
        margin-left: 10%;
        .heading {
            text-shadow: 1px 1px 5px rgba(27, 27, 27, 0.623);
            font-weight: 300;
            color: #fff;
            font-size: 70px;

        }
        // Header buttons
        .btn {
            margin-right: 30px;
            font-size: 20px;
            margin-top: 20px;
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.911);
            padding: 15px 20px;
        }
        .cta-btn {
            transition: all .4s;
            background-color: rgba(0, 255, 255, 0.383);
            &:hover {
                background-color: rgba(110, 255, 255, 0.383);
            }
        }
        .sub-btn {
            transition: all .4s;
            background-color: rgba(128, 128, 128, 0.472);
            &:hover {
                background-color: rgba(190, 190, 190, 0.274);
            }
        }
    }
}

// About section ~ "Why pursuit?"

.about {
    padding: 100px 0;
    overflow: auto;
    .about-title {
        font-weight: 300;
        font-size: 50px;
        color: rgb(19, 19, 19);
    }
    .about-sub-title {
        font-weight: 300;
        font-size: 20px;
        color: rgb(42, 42, 42);
    }
    .items-hold {
        margin-top: 30px;
        display: block;
        width: 100%;
        .item {
            width: 33.3%;
            float:left;
            padding: 10px;
            .item-heading {
                font-weight: 300;
                margin-bottom: 15px;
                font-size: 32px;
            }
            .item-info {
                font-weight: 300;
            }
        }
    }
}

// Features Section
.features {
    padding: 100px 0;
    background-image: linear-gradient(to bottom right, rgba(7, 7, 71, 0.527), rgba(10, 97, 104, 0.603)), url(img/features-back.jpeg);
    background-position: top center;
    background-attachment: fixed;
    .features-title {
        font-weight: 300;
        color: #fff;
        font-size: 50px;
    }
    .items {
        
        margin-top: 30px;
        .item {
            font-weight: 500;
            font-size: 25px;
            color: rgb(224, 224, 224);
            margin-bottom: 30px;
        }
        .item:last-of-type{
            margin: 0;
        }
    }
}

// Testimonials Section
.testimonials {
    padding:100px 0;
    overflow:auto;
    .testimonials-title {
        font-weight: 300;
        font-size: 50px;
    }
    .testimonials-sub-title {
        font-weight: 300;
        font-size: 20px;
        color: rgb(49, 49, 49);
    }
    .items {
        margin-top: 30px;
        display: block;
        width: 100%;
        overflow: auto;
        .item {
            width: 50%;
            padding: 10px;
            float:left;
            .item-title {
                font-size: 30px;
                font-weight: 300;
                color: rgb(24, 24, 24);
            }
            .item-content {
                color: rgb(47, 47, 47);

            }
        }
    }
    .images {
        display: block;
        width: 100%;
        margin-top: 50px;
        .image-hold {
            
            text-align: center;
            .img {
                height: 100px;
                margin: 0 10px;
            }
        }
    }

}
// Footer 
.footer {
    background-color: rgb(19, 19, 19);
    padding: 40px 0;
    p {
        font-size: 20px;
        color: #fff;
        font-weight: 300;
        text-align: center;
    }
}

// 
// 
// 
// 
// 
// OTHER PAGES
// 
// 
// 
// 

// Overview page
.sub-header {
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(to bottom right, rgba(30, 30, 153, 0.527), rgba(9, 181, 194, 0.603)), url(img/background.jpeg);
    overflow: auto;
    .hero-box{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        .heading {
            font-size: 55px;
            font-weight: 300;
            color: #fff;
            margin: 0 auto;
            text-align: center;
        }
        .sub-heading {
            color: #fff;
            text-align: center;
            font-size: 15px;
            margin: 0 auto;
        }
    }
    // Navigation bar within header
    nav {
        width: 100%;
        padding-top: 15px;
        color: #fff;
        // Logo text
        .logo {
            font-weight: 300;
            color: #fff;
            font-size: 24px;
            display: inline-block;
        }
        // Logo div
        .logo-hold {
            display: inline;
        }
        .items-hold {
            float: right;
            margin-top: 7px;
            .nav-li {
                list-style: none;
                display: inline-block;
                margin-left: 30px;
            }
            .nav-a {
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                display: inline-block;
                text-decoration: none;
                transition: all .5s;
                &:hover {
                    padding-bottom: 4px;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    
}

// Media queries - Mobile responsivity
@media (max-width: 1200px){
    .header {
        .hero-box {
            margin-top: 0;
            margin-left: 0;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            .btn {
                margin: 0;
                margin: 0 auto;
                margin-top: 30px;
                display: block;
                width: 50%;
            }
            .heading {
                font-size: 50px;
            }
        }
    }
}
@media (max-width: 800px){
    .header {
        nav {
            .items-hold {
                display: block;
                width: 100%;
                margin-bottom: 20px;
                .nav-li {
                    display: block;
                    margin: 0;
                    margin-top: 5px;
                }
                .nav-a {
                    display: block;
                }
            }
           
        }
        .hero-box {
            .heading {
                font-size: 40px;
            }
            .btn {
                width: 80%;
                font-size: 15px;
            }
        }
    }
    .sub-header {
        nav {
            .items-hold {
                display: block;
                width: 100%;
                margin-bottom: 20px;
                .nav-li {
                    display: block;
                    margin: 0;
                    margin-top: 5px;
                }
                .nav-a {
                    display: block;
                }
            }
           
        }
        .hero-box {
            top: 48%;
        }
        
    }
    .about {
        .items-hold{
            .item {
                display:block;
                width: 100%;
                padding:0;
                margin-bottom: 25px;
                .item-heading {
                    font-size: 35px;
                }
            }
        }
    }
    .testimonials {
        .testimonials-title {
            font-size: 40px;
        }
        .items {
            .item {
                display: block;
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}
@media (max-width: 460px){
    .header {
       
        .hero-box {
            top: 55%;
        }
    }
}