* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.row {
  width: 80%;
  margin: 0 auto;
}

.bold {
  font-weight: 500;
}

.btn {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

header {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(30, 30, 153, 0.527)), to(rgba(9, 181, 194, 0.603))), url(img/background.jpeg);
  background-image: linear-gradient(to bottom right, rgba(30, 30, 153, 0.527), rgba(9, 181, 194, 0.603)), url(img/background.jpeg);
  overflow: auto;
}

header nav {
  width: 100%;
  padding-top: 15px;
  color: #fff;
}

header nav .logo {
  font-weight: 300;
  color: #fff;
  font-size: 24px;
  display: inline-block;
}

header nav .logo-hold {
  display: inline;
}

header nav .items-hold {
  float: right;
  margin-top: 7px;
}

header nav .items-hold .nav-li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}

header nav .items-hold .nav-a {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header nav .items-hold .nav-a:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}

header .hero-box {
  margin-top: 10%;
  margin-left: 10%;
}

header .hero-box .heading {
  text-shadow: 1px 1px 5px rgba(27, 27, 27, 0.623);
  font-weight: 300;
  color: #fff;
  font-size: 70px;
}

header .hero-box .btn {
  margin-right: 30px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.911);
  padding: 15px 20px;
}

header .hero-box .cta-btn {
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: rgba(0, 255, 255, 0.383);
}

header .hero-box .cta-btn:hover {
  background-color: rgba(110, 255, 255, 0.383);
}

header .hero-box .sub-btn {
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: rgba(128, 128, 128, 0.472);
}

header .hero-box .sub-btn:hover {
  background-color: rgba(190, 190, 190, 0.274);
}

.about {
  padding: 50px 0;
  overflow: auto;
}

.about .about-title {
  font-weight: 300;
  font-size: 50px;
  color: #131313;
}

.about .about-sub-title {
  font-weight: 300;
  font-size: 20px;
  color: #2a2a2a;
}

.about .items-hold {
  margin-top: 30px;
  display: block;
  width: 100%;
}

.about .items-hold .item {
  width: 33.3%;
  float: left;
  padding: 10px;
}

.about .items-hold .item .item-heading {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 40px;
}

.about .items-hold .item .item-info {
  font-weight: 300;
}

@media (max-width: 1200px) {
  .header .hero-box {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .header .hero-box .btn {
    margin: 0;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    width: 50%;
  }
  .header .hero-box .heading {
    font-size: 50px;
  }
}

@media (max-width: 800px) {
  .header nav .items-hold {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .header nav .items-hold .nav-li {
    display: block;
    margin: 0;
    margin-top: 5px;
  }
  .header nav .items-hold .nav-a {
    display: block;
  }
  .header .hero-box .heading {
    font-size: 40px;
  }
  .header .hero-box .btn {
    width: 80%;
    font-size: 15px;
  }
  .about .items-hold .item {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 25px;
  }
  .about .items-hold .item .item-heading {
    font-size: 35px;
  }
}

@media (max-width: 460px) {
  .header .hero-box {
    top: 55%;
  }
}
/*# sourceMappingURL=style.css.map */